<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary"><a data-anchor="notifications" name="notifications" style="text-decoration: none; color: inherit;">הודעות</a></div>
  <div class="panel-body">
    <p>panel body...</p>
  </div>

  <!-- Table -->
  <table class=" data table">	
        <thead>
          <tr>
            <th>חברה</th>
            <th>תאריך</th>
            <th>סכום</th>
            <th>סטטוס</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'bezeq.png', class: 'sup_logo' %></td>
            <td><%= l Date.today, format: :short %></td>
            <td><%= number_to_currency 100 %></td>
            <td><%= image_tag 'ok.png', class: 'status_logo' %></td>
          </tr>
          <tr>
            <td><%= image_tag 'yes.png', class: 'sup_logo' %></td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><%= image_tag 'x.png', class: 'status_logo' %></td>
          </tr>
        </tbody>
  </table>
</div>