<tr id="feature_line" height="42">
	<td class="curr_offer_background" id="curr_offer_background" bgcolor="#dddddd" style="background-color: #dddddd;"><%= offer.curr_plan.features[i].name if offer.curr_plan.features[i] %></td>	
	<td class="curr_offer_background" id="curr_offer_background" bgcolor="#dddddd" style="background-color: #dddddd;"><%= offer.curr_plan.features[i].value if offer.curr_plan.features[i]  %></td>	
	<td class="recc_offer_background" id="recc_offer_background" bgcolor="#F7B547" style="background-color: #F7B547;"><%= offer.recc_plan.features[i].name if offer.recc_plan.features[i]  %></td>	
	<td class="recc_offer_background" id="recc_offer_background" bgcolor="#F7B547" style="background-color: #F7B547;"><%= offer.recc_plan.features[i].value if offer.recc_plan.features[i]  %></td>	
	<% if offer.othr_plan_id %>
	<td class="othr_offer_background" id="othr_offer_background" bgcolor="#dddddd" style="background-color: #dddddd;"><%= offer.othr_plan.features[i].name if offer.othr_plan.features[i]  %></td>	
	<td class="othr_offer_background" id="othr_offer_background" bgcolor="#dddddd" style="background-color: #dddddd;"><%= offer.othr_plan.features[i].value if offer.othr_plan.features[i]  %></td>	
	<% end %>
	<% if @control %>
	  	<td class="control">
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              customer_newsletter_offer_feature_path(@customer, @newsletter, offer, feature),
		              :method => :delete,
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-mini btn-danger' %>
	  	</td>
	  	<td class="control">
	  		<%= link_to "Edit", edit_customer_newsletter_offer_feature_path(@customer, @newsletter, offer, feature), class: 'btn btn-mini' %>
  		</td>
  		<td class="control">
		</td>	
	<% end %>
</tr>
