<tr class="offer_first_line" height="42" style="border-top: none !important;">
	<td  style="border-top: none !important;">
    	<% if offer.curr_plan and (curr_supplier = offer.curr_plan.supplier) %>
	    	<% if logo = curr_supplier.logo %>
	    		<%= image_tag logo, class: 'sup_logo', size: "42x42", style: "width: 42px !important; height: 42px !important; border-top: none !important;"  %>
	    	<% else %>	
	    		<span style="border-top: none !important;"><%= curr_supplier.name %></span>
			<% end %>		
		<% end %>
	</td>
	<td class="offer border"  style="border-left: 2px solid #dddddd; border-top: none !important;"><%= offer.curr_plan.name if offer.recc_plan %></td>
	<td style="border-top: none !important;">
    	<% if offer.recc_plan and (recc_supplier = offer.recc_plan.supplier) %>
	    	<% if logo = recc_supplier.logo %>
	    		<%= image_tag logo, class: 'sup_logo', size: "42x42", style: "width: 42px !important; height: 42px !important"  %>
	    	<% else %>	
	    		<%= recc_supplier.name %>
			<% end %>		
		<% end %>
	</td>
	<td class="offer border"  style="border-left: 2px solid #dddddd; border-top: none !important;"><%= offer.recc_plan.name if offer.recc_plan %></td>
	<% if offer.othr_plan_id %>
	<td style="border-top: none !important;">
    	<% if offer.othr_plan and (othr_supplier = offer.othr_plan.supplier) %>
	    	<% if logo = othr_supplier.logo %>
	    		<%= image_tag logo, class: 'sup_logo', size: "42x42", style: "width: 42px !important; height: 42px !important"  %>
	    	<% else %>	
	    		<%= othr_supplier.name %>
			<% end %>		
		<% end %>
	</td>
	<td class="offer border"  style="border-left: 2px solid #dddddd;"><%= offer.othr_plan.name if offer.recc_plan %></td>
	<% end %>	
	<% if @control %>
		<td class="control"></td>
		<td class="control"></td>
		<td class="control"><%= link_to 'Edit offer', edit_customer_newsletter_offer_path(@customer, @newsletter, offer), class: 'btn btn-mini' %></td>
	<% end %>
	  <% if @control %>	
	  	<td class="control">
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              customer_newsletter_offer_path(@customer, @newsletter, offer),
		              :method => :delete,
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-mini btn-danger' %>
	  	</td>
	  	<td class="control">
	  		<%= link_to "Edit", edit_customer_newsletter_offer_path(@customer, @newsletter, offer), class: 'btn btn-mini' %>
  		</td>
  		<td class="leftmost control">
  			<%= link_to "Add Feature", new_customer_newsletter_offer_feature_path(@customer, @newsletter, offer), class: 'btn btn-mini' %>
		</td>
	  <% end %>

</tr>
<% curr_features = offer.curr_plan.features.order(:name) if offer.curr_plan_id %>
<% recc_features = offer.recc_plan.features.order(:name) if offer.recc_plan_id %>
<% othr_features = offer.othr_plan.features.order(:name) if offer.othr_plan_id %>
<% i = 0 %>
<% while (curr_features and curr_features[i]) or (recc_features and recc_features[i]) or (othr_features and othr_features[i]) do %>
	<%= render 'offers_panel_offer_feature', offer: offer, i: i %>
	<% i += 1 %>
<% end %>
