<div id="billbeez">

	<%= render 'top_wrap' if @section == 'top_wrap' or @section.nil? %>
	
	<%= render 'header' if @section == 'header' or @section.nil? %>														
	                                
	
	<%= render 'findings' if @section == 'findings' or @section.nil?%>

	<%= render 'highlights' if @section == 'highlights' or @section.nil?%>
	
	<%= render 'dues' if @section == 'dues' or @section.nil?%>
	
	<%= render 'notifications' if @section == 'notifications' or @section.nil?%>
	
	<%= render 'reminders' if @section == 'reminders' or @section.nil?%>

	<%= render 'plans' if @section == 'plans' or @section.nil? %>
				
		</td>	
	</tr>
	<tr>													
		<!-- END Blocks Zone -->

	<%= render 'footer' if @section == 'footer' or @section.nil? %>
	
	<%= render 'bottom_wrap' if @section == 'bottom_wrap' or @section.nil? %>
		
</div>
<script>
	$(document).ready(function() {
		
//		$('tr').attr('bgcolor', 'yellow');
//		$('tr').css('background-color', 'green');   

		<% if @control %>				
				$(".bl-block-content-column.bl-block-content-new-column.bl-1-column").css("width", "750px")	
				$(".bl-padding-1-column.bl-content-wrapper").css("width", "750px")
				$(".bl-block-content").css("margin-left", "-150px")
		<% end %>		

	})

</script>

