<%= simple_form_for @bill, url: customer_newsletter_bill_path(@customer.id, @newsletter.id, @bill.id), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<div id="supplierDropdown"></div>
	<%= f.association :supplier, as: :hidden %>
	<%= f.input :new_supplier, label: "New supplier", placeholder: "or define a new one now" %>
	<%= f.input :issue_date, required: true, as: :string, input_html: {data: {behaviour: 'datepicker'}} %>
	<%= f.input :due_date, required: true, as: :string, input_html: {data: {behaviour: 'datepicker'}}  %>
	<%= f.input :amount, required: true, as: :decimal %>
	<%= f.input :payment_url, as: :url unless params[:section] == 'notifications' %>
	<%= f.input :paid_url, as: :url unless params[:section] == 'notifications' %>
	<%= f.input :view_url, as: :url %>
	<% if params[:section] == 'dues' %> 
		<%= f.input :section, as: :hidden, input_html: {value: "dues"} %>
	  	<%= f.simple_fields_for :dues do |due_form| %>
	  		<%= due_form.input :newsletter_id, as: :hidden %>
		<% end %>
	<% elsif params[:section] == 'notifications' %>
		<%= f.input :section, as: :hidden, input_html: {value: "notifications"} %>
	  	<%= f.simple_fields_for :notifications do |notification_form| %>
	  		<%= notification_form.input :newsletter_id, as: :hidden %>
			<%= notification_form.input :prev_bill_amt, required: true, as: :string %>
		<% end %>
	<% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn' %>
  </div>
<% end %>
<script>
	$(document).ready(function() {	
		
		align_val(<%= @newsletter.version.locale_id %>)

		$('#bill_supplier_id').change(function() {
			$.getJSON("/suppliers/" + $(this).val() + "/url","<%= @bill.id ? "bill_id=#{@bill.id}" : "" %>", function(data) {
				$('#bill_payment_url').val(data)
				
			})
		})
		
		$.getJSON("/suppliers/list", "<%= @bill.id ? "bill_id=#{@bill.id}" : "" %>", function(data) {
			$('#supplierDropdown').ddslick({
				
			    data:data,
			    width:342,
			    selectText: "Select existing supplier",
			    imagePosition:"right",
			    onSelected: function(selectedData){
			        $('#bill_payment_url').val(selectedData.selectedData.payment_url)
			        $('#bill_supplier_id').val(selectedData.selectedData.value).trigger('change');
			    }   
			});
		})


	})
</script>
