<%= simple_form_for @bill, url: customer_newsletter_bill_path(@customer.id, @newsletter.id, @bill.id), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.association :supplier ,label: "Existing supplier", placeholder: "select an existing supplier", include_blank: "Select an existing supplier" %>
	<%= f.input :new_supplier, label: "New supplier", placeholder: "or define a new one now" %>
	<%= f.input :issue_date, required: true, as: :string, input_html: {data: {behaviour: 'datepicker'}} %>
	<%= f.input :due_date, required: true, as: :string, input_html: {data: {behaviour: 'datepicker'}}  %>
	<%= f.input :amount, required: true, as: :decimal %>
	<% if params[:section] == 'dues' %> 
		<%= f.input :section, as: :hidden, input_html: {value: "dues"} %>
	  	<%= f.simple_fields_for :dues do |due_form| %>
	  		<%= due_form.input :newsletter_id, as: :hidden %>
			<%= due_form.input :payment_url, as: :url %>
			<%= due_form.input :paid_url, as: :url %>
		<% end %>
	<% elsif params[:section] == 'notifications' %>
		<%= f.input :section, as: :hidden, input_html: {value: "notifications"} %>
	  	<%= f.simple_fields_for :notifications do |notification_form| %>
	  		<%= notification_form.input :newsletter_id, as: :hidden %>
			<%= notification_form.input :prev_bill_amt, required: true, as: :string %>
		<% end %>
	<% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn' %>
  </div>
<% end %>
<script>
	$(document).ready(function() {	
		
		align_val(<%= @newsletter.version.locale_id %>)
	

		$('#bill_supplier_id').change(function() {
			$.getJSON("/suppliers/" + $(this).val() + "/url", function(data) {
				$('#bill_dues_attributes_0_payment_url').val(data)
				
			})
		})

	})
</script>
