<%- model_class = Customer -%>
<div class="page-header clearfix">
	<span>
  		<h1 id="customers"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  	</span>
  	<span class="pull-right">  
		<%= link_to "New customer", new_customer_path, :class => 'btn btn-primary', id: 'customer_button' %>
  	</span>            
</div>
<table class="table table-striped">
  <thead>
    <tr>
		<th>id</th>
      	<th>Name</th>
		<th>Last newsletter</th>
    	<th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.order(:id).each do |customer| %>
      <tr>
        <td><%= link_to customer.id, customer_path(customer) %></td>
        <td><%= customer.first_name + ' ' + customer.last_name %></td>
        <td dir="rtl"><%= l customer.last_newsletter, format: :long if customer.last_newsletter  %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_customer_path(customer), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      customer_path(customer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
           <%= link_to 'view newsletters',
                      customer_newsletters_path(customer), :class => 'btn btn-mini' %>
		   <% if @campaign_id and @version_id %>
	           <%= link_to 'create newsletter',
	                      new_customer_newsletter_path(customer, campaign_id: @campaign_id, version_id: @version_id), :class => 'btn btn-mini' %>
		   <% end %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>