<%= simple_form_for @version, :html => { :class => 'form-horizontal version_form' } do |f| %>
	<%= f.input :campaign_id, as: :string, disabled: true %>
	<%= f.input :id, label: "Version", as: :string, disabled: true %>
	<%= f.association :locale, value_method: :id, label_method: :description, include_blank: false %>
  	<% @version.attributes.each do |name, value| %>
  		<% next if ['approved_at', 'user_id','campaign_id', 'id','locale_id','updated_at','created_at', 'header_external', 'header_external_link'].include? name %>
  		<%= f.input name, as: :string %>
  	<% end %>
  	<div class="form-actions">
    <%= link_to 'Approve version', version_path(@version, user_id: current_user, approved_at: Time.now), method: 'PATCH', class: 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                versions_path, :class => 'btn' %>
  </div>
<% end %>
<script>
$(document).ready(function () {
	
	align($('#version_locale_id'));
	
	$('#version_locale_id').change(function() {
		align($(this))
	})
	

	function refresh_sample() {
		$.ajax({
	  		url: "<%= user_mailer_weekly_url %>",
	  		success: function(result) {
	  			$('#sample').html(result);
	  	}});		
	}
	
	refresh_sample();

	$('.version_form input').blur(function() {
		var field = $(this).attr('name').split('[')[1].split(']')[0]
		var value = $(this).val()
		$.ajax({
	  		type: 'PUT',
	  		url: "<%= version_path(@version)  %>",
	  		data: field + '=' + value,
	  		success: refresh_sample()
	  		});
	})

})

</script>
