<%= simple_form_for @version, :html => { :class => 'form-horizontal version_form' } do |f| %>
	<%= f.input :campaign_id, as: :string, disabled: true %>
	<%= f.input :id, as: :string, disabled: true %>
	<%= f.association :locale, value_method: :name, label_method: :description, include_blank: false %>
  	<% @version.attributes.each do |name, value| %>
  		<% next if ['campaign_id', 'id','locale_id','updated_at','created_at', 'header_external', 'header_external_link'].include? name %>
  		<%= f.input name, as: :string %>
  	<% end %>
  	<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                versions_path, :class => 'btn' %>
  </div>
<% end %>
<script>
$(document).ready(function () {
	

	function align(el) {
		if (el.val() == 'he') {
			$('form').attr('dir', 'rtl')
			$('.form-horizontal .control-label').css('float', 'right')
			$('.form-horizontal .control-label').css('text-align', 'right')
		} else {		
			$('form').attr('dir', 'ltr')
			$('.form-horizontal .control-label').css('float', 'left')
			$('.form-horizontal .control-label').css('text-align', 'left')
		}
		
	}

	align($('#version_locale_id'));
	
	$('#version_locale_id').change(function() {
		align($(this))
	})
	

	function refresh_sample() {
		$.ajax({
	  		url: "<%= user_mailer_weekly_url %>",
	  		success: function(result) {
	  			$('#sample').html(result);
	  	}});		
	}
	
	refresh_sample();

	$('.version_form input').blur(function() {
		var field = $(this).attr('name').split('[')[1].split(']')[0]
		var value = $(this).val()
		$.ajax({
	  		type: 'PUT',
	  		url: "<%= version_path(@version)  %>",
	  		data: field + '=' + value,
	  		success: refresh_sample()
	  		});
	})

})

</script>
