<%= simple_form_for @version, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.input :campaign_id, as: :string, disabled: true %>
	<%= f.input :id, as: :string, disabled: true %>
	<%= f.association :locale, value_method: :name, label_method: :description, include_blank: false %>
  	<% @version.attributes.each do |name, value| %>
  		<% next if name == 'campaign_id' or name == 'id' or name == 'updated_at' or name == 'created_at' or name == 'locale_id' %>
  		<%= f.input name, as: :string %>
  	<% end %>
  	<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                versions_path, :class => 'btn' %>
  </div>
<% end %>
<script>
$(document).ready(function () {
	
	function align(el) {
		if (el.val() == 'he') {
			$('form').attr('dir', 'rtl')
			$('.form-horizontal .control-label').css('float', 'right')
		} else {		
			$('form').attr('dir', 'ltr')
			$('.form-horizontal .control-label').css('float', 'left')
		}
		
	}

	align($('#version_locale_id'));
	
	$('#version_locale_id').change(function() {
		align($(this))
	})
	
})

</script>
