<%= simple_form_for @offer, url: customer_newsletter_offer_path(@customer.id, @newsletter.id, @offer.id), :html => { :class => 'form-horizontal offer_form' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<p class="offer_form_heading">Current</p>
	<%= f.association :curr_supplier, label: "Supplier name (existing)", input_html: {value: ""}, include_blank: "Select an existing supplier", required: true %>
	<%= f.input :curr_offer, required: true, label: "offer name", placeholder: "Current offer", as: :string, required: true %>
	<p class="offer_form_heading">Recommended</p>
	<%= f.association :recc_supplier, label: "Supplier name (existing)", include_blank: "Select an existing supplier" %>
	<%= f.input :new_recc_supplier, label: "Supplier name (create)", placeholder: "Create one"%>
	<%= f.input :recc_offer, required: true, label: "offer name", placeholder: "Recommended offer", as: :string, required: true %>
	<p class="offer_form_heading">Other (Optional)</p>
	<%= f.association :othr_supplier, label: "Supplier name (existing)", include_blank: "Select an existing supplier" %>
	<%= f.input :new_othr_supplier, label: "Supplier name (create)", placeholder: "Create one"%>
	<%= f.input :othr_offer, label: "offer name", placeholder: "Other offer", as: :string %>
	<p class="offer_form_heading">Heading text</p>
	<%= f.input :findings, label: "Text to show", placeholder: "(appears on top of newsletter)", as: :string, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn' %>
  </div>
<script>
	$(document).ready(function() {	
		align_val(<%= @newsletter.version.locale_id %>)
	})
</script>
<% end %>