<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @campaign.subject %>
</p>

<p>
  <strong>From name:</strong>
  <%= @campaign.from_name %>
</p>

<p>
  <strong>From email:</strong>
  <%= @campaign.from_email %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @campaign.sent_at %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
