<p id="notice"><%= notice %></p>

<p>
  <strong>Header external:</strong>
  <%= @text.header_external %>
</p>

<p>
  <strong>Header external link:</strong>
  <%= @text.header_external_link %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
