<%= simple_form_for @plan, url: customer_newsletter_plan_path(@customer.id, @newsletter.id, @plan.id), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.association :curr_supplier, label: "Curr plan supplier", input_html: {value: ""}, include_blank: "select an existing supplier", required: true %>
	<%= f.association :recc_supplier, label: "Recc plan supplier", include_blank: "(could be the same supplier)" %>
	<%= f.input :new_supplier, label: "A new supplier", placeholder: "Create a new supplier now"%>
	<%= f.input :curr_plan, required: true, label: "Curr plan name", placeholder: "Current Plan", as: :string, required: true %>
	<%= f.input :recc_plan, required: true, label: "Recc plan name", placeholder: "Recommended Plan", as: :string, required: true %>
	<%= f.input :findings, required: true, label: "Text to show", placeholder: "(appears on top of newsletter)", as: :string, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn' %>
  </div>
<script>
	$(document).ready(function() {	
		align_val(<%= @newsletter.version.locale_id %>)
	})
</script>
<% end %>