<%= simple_form_for @plan, url: customer_newsletter_plan_path(@customer.id, @newsletter.id, @plan.id), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.association :supplier, label: "Existing supplier", placeholder: "select an existing supplier", include_blank: false %>
	<%= f.input :new_supplier, label: "New supplier", placeholder: "Create a new supplier now"%>
	<%= f.input :curr_plan, label: "Current Plan", placeholder: "Current Plan", as: :string %>
	<%= f.input :recc_plan, label: "Recommended Plan", placeholder: "Recommended Plan", as: :string %>
	<%= f.input :findings, label: "Findings", placeholder: "Text to show on top", as: :string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn' %>
  </div>
<script>
	$(document).ready(function() {	
		align_val(<%= @newsletter.version.locale_id %>)
	})
</script>
<% end %>