<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
</head>

<body id="billbeez">

	<%= render 'top_wrap' %>
	
	<%= render 'header' %>														
	                                
	
	<%= render 'findings' %>

	<%= render 'highlights' %>
	
	<%= render 'bills' %>
	
	<%= render 'notifications' %>
	
	<%= render 'reminders' %>

	<%= render 'recommendations' %>
				
		</td>	
	</tr>
	<tr>													
		<!-- END Blocks Zone -->

	<%= render 'footer' %>
	
	<%= render 'bottom_wrap' %>
		
</body>
</html>