<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>

<body id="billbeez">

	<%= render 'top_wrap' %>
	
	<%= render 'header' %>														
	                                
	<%= render 'title' %>
	
	<%= render 'highlights' %>
	
	<%= render 'bills' %>
	
	<%= render 'notifications' %>
	
	<%= render 'reminders' %>
			
		</td>	
	</tr>
	<tr>													
		<!-- END Blocks Zone -->

	<%= render 'footer' %>
	
	<%= render 'bottom_wrap' %>
		
</body>
</html>